<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      {% include navbar.html %}
    </nav>
    <!-- Masthead-->
    <header class="masthead" id="homeHeader">
      <div
        class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center"
      >
        <div class="d-flex justify-content-center">
          <div class="text-center">
            <h1 class="mx-auto my-0 text-uppercase">Ethical Assurance</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">
              Supporting the responsible design, development, and deployment of AI and data-driven technologies
            </h2>
            <a class="btn btn-primary" href="/guides/">Get Started</a>
            <div style="margin-top: 50px;"><img src="/assets/img/chevrons.svg" style="height: 50px" alt=""></div>
          </div>
        </div>
      </div>
    </header>

    <!-- Projects-->
    <section class="projects-section bg-light" id="projects">
      <div class="container px-4 px-lg-5">
        <!-- Project One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
          <div class="col-lg-6">
            <img
              class="img-fluid"
              src="assets/img/algorithm2.png"
              alt="..."
            />
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div
                  class="project-text w-100 my-auto text-center text-lg-left"
                >
                  <h4 class="text-white">What is Ethical Assurance?</h4>
                  <p class="mb-0 text-white-50">
                    Ethical assurance is a process of using structured forms of argumentation to provide assurance to affected individuals and stakeholders that a particular claim (or set of related claims) about an ethical property of a system is warranted given the available evidence.
                  </p>
                  <hr class="d-none d-lg-block mb-0 ms-0" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Project Two Row-->
        <div class="row gx-0 justify-content-center">
          <div class="col-lg-6">
            <img
              class="img-fluid"
              src="assets/img/project-lifecycle.png"
              alt="..."
            />
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div
                  class="project-text w-100 my-auto text-center text-lg-right"
                >
                  <h4 class="text-white">The ML/AI Project Lifecycle</h4>
                  <p class="mb-0 text-white-50">
                    Ethical assurance has been designed specifically to enable a participatory approach to assuring the ML/AI project lifecycle in mind. This means that ethical principles, such as promoting fairness or social justice, ensuring explainability of automated decisions, and respecting user's data and privacy are tightly interwoven into the methodology.
                  </p>
                  <hr class="d-none d-lg-block mb-0 me-0" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Contact-->
    <section class="contact-section bg-black">
      <div class="social d-flex justify-content-center">
          <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
          <a class="mx-2" href="#!"><i class="fas fa-envelope"></i></a>
      </div>
    </section>

{% include footer.html %}
    <script src="/assets/js/scripts.js"></script>
    <script src="/assets/js/three.r119.min.js"></script>
    <script src="/assets/js/vanta.globe.min.js"></script>
      <script>
        VANTA.GLOBE({
          el: "#homeHeader",
          mouseControls: true,
          touchControls: true,
          gyroControls: false,
          minHeight: 200.00,
          minWidth: 200.00,
          scale: 1.00,
          scaleMobile: 1.00,
          color: 0x64a19d,
          backgroundColor: 0x303034
        })
      </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
